@import "./utils/variables", "./utils/functions", "./utils/mixins";
@import "./layout/header", "./layout/footer";
@import "./pages/home-location", "./pages/home-reservations", "./pages/home-choice", "./pages/restaurants-cover", "./pages/home-restaurants", "./pages/restaurant-menu";
@import "./components/all-btn", "./components/all-cards", "./components/header-back";


body {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, sans-serif;
}