.header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 1rem 0 1rem 0;
  box-shadow: 0 4px 10px -2px #c4c4c4;
  background-color: white;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50px;
  align-items: center;
}
.header__img {
  position: relative;
  width: 120px;
  height: 30px;
}

.footer {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #353535;
  color: white;
}
.footer__title {
  padding-left: 2rem;
  font-style: italic;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.footer__ul {
  list-style-type: none;
}
.footer__ul__li {
  display: flex;
  align-items: center;
  padding: 0 0 0.3rem 0;
}
.footer__ul__img {
  width: 20px;
  height: 20px;
  padding-right: 0.5rem;
}

/* Applying a different margin for alignement of the two firsts li */
.footer__ul__li--different-margin {
  margin-left: -23.2px;
}

/* Applying a different padding for alignement of the two lasts li */
.footer__ul__li--different-padding {
  padding-left: 0.3rem;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-width: 100%;
  height: 60px;
  background-color: #f1f1f1;
}
.location__container {
  width: 180px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.location__logo {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.location__city {
  font-size: 1rem;
  font-weight: bold;
}

.reservations {
  display: flex;
  width: 65%;
  flex-direction: column;
  align-items: center;
  padding: 0 17.5vw 1rem 17.5vw;
  background-color: #f7f7f7;
  margin-bottom: 1rem;
  text-align: center;
}
.reservations__title {
  max-width: 320px;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}
.reservations__text {
  max-width: 350px;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.choice__container {
  width: 95%;
}
.choice__title {
  width: 100%;
  font-size: 1.2rem;
}
.choice__num {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -13px;
  width: 25px;
  height: 25px;
  font-size: 1rem;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 0.1rem;
}
.choice__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f7f7f7;
  padding: 1.5rem 0.5rem 1.5rem 0;
  margin-bottom: 1rem;
  box-shadow: 2px 3px 10px grey;
}
.choice__box__ico {
  display: flex;
  align-items: center;
  padding: 0 1.4rem 0 0.5rem;
}
.choice__box__txt {
  font-size: 1.2rem;
}

.restaurant-cover__img {
  object-fit: cover;
  width: 100%;
  max-height: 30rem;
  margin: 0;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f1f1f1;
}
.container {
  display: grid;
  grid-template-rows: 50px repeat(4, 1fr);
  row-gap: 2rem;
  width: 90%;
  padding: 0.5rem 0.5rem 5rem 0.5rem;
}

.card {
  display: block;
  background-color: white;
  border-radius: 1rem;
  padding-bottom: 10rem;
}
.card:link {
  text-decoration: none;
  color: inherit;
}
.card:visited {
  text-decoration: none;
  color: inherit;
}
.card__img {
  position: absolute;
  width: 90%;
  height: 170px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.card__all-text {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 155px;
  width: 100%;
  padding: 0.3rem;
}
.card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}
.card__title {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  padding: 0 0 0.3rem 0.5rem;
}
.card__undertitle {
  padding-left: 0.5rem;
}
.card__like {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

/* Position modifier of cards content with no label 'nouveau' */
.all-text--nolab {
  top: 178px;
}

.container-menu {
  width: 90%;
  margin-top: -4rem;
  background-color: #f1f1f1;
  padding: 0 5vw 0 5vw;
  border-radius: 1.5rem 1.5rem 0 0;
}

.menu-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.menu-header__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  padding-right: 1rem;
}

.menus-all {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1rem;
  padding-bottom: 1rem;
}

.menus__title {
  text-transform: uppercase;
}
.menus__container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
}
.menus__txt {
  flex: 1;
}
.menus__plate {
  font-size: 1.1rem;
  margin: 0.1rem;
  font-weight: bold;
}
.menus__description {
  margin: 0.1rem;
  font-style: italic;
}
.menus__price {
  display: flex;
  align-items: center;
}

/* Creation of the 'explore button', not re-used atm */
.btn-explore {
  display: flex;
  max-height: 30px;
  padding: 0.5rem 0.7rem 0.5rem 0.7rem;
  align-items: center;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 3rem;
}
.btn-explore__text {
  font-size: 1rem;
  text-align: center;
  height: 20px;
  color: white;
  min-width: 180px;
}

.btn-radius {
  border-radius: 1rem;
}

.card--label {
  position: relative;
  float: right;
  width: 25%;
  min-width: 70px;
  max-width: 90px;
  padding: 0.2rem;
  text-align: center;
  font-size: 1rem;
  top: 0.75rem;
  margin-right: 0.75rem;
  color: green;
  background-color: #99E2D0;
  border-radius: 0.5rem;
}

.header__back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  width: 50px;
  height: 50px;
  left: 1rem;
  top: 1rem;
}
.header__back__img {
  width: 25px;
  height: 25px;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, sans-serif;
}

/*# sourceMappingURL=style.css.map */
